<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded">
             <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
             <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
             <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
            <FluentNavLink Href="bollinger" Icon="@(new Icons.Regular.Size20.DataTrending())" IconColor="Color.Accent">Bollinger</FluentNavLink>
            <FluentNavLink Href="candlestick" Icon="@(new Icons.Regular.Size20.DataWhisker())" IconColor="Color.Accent">Candlestick</FluentNavLink>
            <FluentNavLink Href="moving" Icon="@(new Icons.Regular.Size20.ArrowTrendingLines())" IconColor="Color.Accent">Moving</FluentNavLink>
            <FluentNavLink Href="ohlc" Icon="@(new Icons.Regular.Size20.Timeline())" IconColor="Color.Accent">OHLC</FluentNavLink>
            <FluentNavLink Href="chooser" Icon="@(new Icons.Regular.Size20.Settings())" IconColor="Color.Accent">Settings</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
