<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>             
            <FluentNavLink Href="charthome" Icon="@(new Icons.Regular.Size20.ChartPerson())" IconColor="Color.Accent">Test Chart</FluentNavLink>
            <FluentNavLink Href="testchart" Icon="@(new Icons.Regular.Size20.ChartPerson())" IconColor="Color.Accent">Test Chart</FluentNavLink>
            <FluentNavLink Href="MyChart" Icon="@(new Icons.Regular.Size20.ChartMultiple())" IconColor="Color.Accent">Chart</FluentNavLink>
            <FluentNavLink Href="bollinger" Icon="@(new Icons.Regular.Size20.DataTrending())" IconColor="Color.Accent">Bollinger</FluentNavLink>
            <FluentNavLink Href="candlestick" Icon="@(new Icons.Regular.Size20.DataWhisker())" IconColor="Color.Accent">Candlestick</FluentNavLink>
            <FluentNavLink Href="moving" Icon="@(new Icons.Regular.Size20.ArrowTrendingLines())" IconColor="Color.Accent">Moving</FluentNavLink>
            <FluentNavLink Href="ohlc" Icon="@(new Icons.Regular.Size20.Timeline())" IconColor="Color.Accent">OHLC</FluentNavLink>
            <FluentNavLink Href="portfolio" Icon="@(new Icons.Regular.Size20.FolderBriefcase())" IconColor="Color.Accent">Portfolio</FluentNavLink>
            <FluentNavLink Href="ratelimit" Icon="@(new Icons.Regular.Size20.GlobeWarning())" IconColor="Color.Accent">Rate Limit</FluentNavLink>
            <FluentNavLink Href="price" Icon="@(new Icons.Regular.Size20.MoneyHand())" IconColor="Color.Accent">Price</FluentNavLink>
            <FluentNavLink Href="myparent" Icon="@(new Icons.Regular.Size20.SearchVisual())" IconColor="Color.Accent">Search</FluentNavLink>
            <FluentNavLink Href="chooser" Icon="@(new Icons.Regular.Size20.Settings())" IconColor="Color.Accent">Settings</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = false;
}
