@page "/stockticker"
@using System.Threading.Tasks
@using Bronto.Models.Api
@using Bronto.Wasm.Pwa.Interfaces
@using Bronto.Wasm.Pwa.Models
@using Bronto.Wasm.Pwa.Service
@inject IStockService stockService
<h2>OHLC Stock Data</h2>

@if (StockDataList != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Open</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Close</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TimeSeriesValues item in ohlcList)
            {
                <tr>
                <td>@item.Datetime</td>
                <td>@item.Open.ToString("C")</td>
                <td>@item.High.ToString("C")</td>
                <td>@item.Low.ToString("C")</td>
                <td>@item.Close.ToString("C")</td>
                </tr>
            } 
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    public StockDataTimeSeries StockDataList;
    protected List<TimeSeriesValues> ohlcList = new();

    protected override async Task OnInitializedAsync()
    {
        StockDataList = await stockService.GetTimeSeriesAsync("AAPL", "1min", "30");
        ohlcList = StockDataList.Values.ToList();
    }
}